<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="topLeft">
            <h1>Add a New Recipe</h1>
        </div>
        <div class="topRight">
            <a href="/recipes">back to recipes</a>
            <a href="/logout">logout</a>
        </div>

    </div>
    <div class="recipe_info">

    </div>
</body>
</html>